server:
  port: 8080
spring:
  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    url: jdbc:oracle:thin:@localhost:1521/FREE
    username: C##DONGHD
    password: 123456
logging:
  level:
    org.springframework.security: DEBUG